# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ambiente virtual
venv/


# Django
*.log
db.sqlite3
media/
staticfiles/
protected/

# Variáveis de ambiente (NUNCA suba isso!)
.env

# IDE
.vscode/
.idea/
*.swp