{% extends 'emails/base_email.html' %}

{% block email_subtitle %}Nova venda!{% endblock %}

{% block email_body %}
    <h2>Parabéns, {{ order.ebook.author.first_name }}!</h2>
    <p>Você acaba de realizar uma nova venda na Editora Orange!</p>

    <div class="box">
        <strong>{{ order.ebook.title }}</strong><br><br>
        <small style="color:#666;">
            Comprador : {{ order.buyer_name }}<br>
            Valor total: R$ {{ order.amount }}<br>
            <!--Seu ganho  : R$ {{ order.producer_amount }}<br>-->
            Data       : {{ order.paid_at|date:"d/m/Y H:i" }}
        </small>
    </div>

    <p>Acesse seu painel para ver todos os detalhes das suas vendas.</p>
{% endblock %}
